<div class="navbar">
    <span class="logo">HEADER</span>
    <ul>
        <li>
            <a href="#">
                <span class="icon">a</span>
                <span class="text">a</span>
            </a>
        </li>
    </ul>
</div>