<div class="main">
    {{>userPainel}}
    <div class="container">
        {{>rentInfo}}
        <div class="options">
            
        </div>
        <button class="btn position">MARCAR HORÁRIO</button>
        <button class="btn position">MARCAR HORÁRIO</button>
        <button class="btn position">MARCAR HORÁRIO</button>
    </div>
</div>
