<script>
const age = <%= dados %>
console.log(age);
</script>
<div class="main">
    {{>userPainel}}
    <div class="container">
        {{>rentInfo}}
        <div class="options">
      <li></li>
        </div>
        <button class="btn position">MARCAR HORÁRIO</button>
        <button class="btn position">MARCAR HORÁRIO</button>
        <button class="btn position">MARCAR HORÁRIO</button>
    </div>
</div>
